.fa {
    padding: 30px 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.fa:hover {
    opacity: 1;
    color: rgb(180, 111, 7);
  }
